@import url(reset.css);
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    display: block;
}
html,body{
    width: 100%;
    height: 100%;
    font-family:'Noto Sans TC', sans-serif;
    -webkit-overflow-scrolling: touch;
}
#app{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color:#fcf5d8;
}
#app > header{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #FCCD4B;
    padding:15px 0;
}
#app > header > a{
    width: 140px;
    height: 140px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    float: left;
    margin-left: 50px;
    margin-right: 165px;
}
#app > header >ul{
    float: left;
}
#app > header > ul > li{
    float: left;
    padding:50px 60px 50px 0;
}
#app > header > ul > li > a{
    color: #707070;
    font-size: 40px;
    font-weight: bold;
    line-height:50px;
}
.separate{
    width: 5px;
    height: 30px;
    background-color:#707070;
    float: right;
    margin-top: 10px;
    margin-left: 60px;
}
.logo{background-image: url("/圖片/logo.png");}
#app > .front_txt{
    width: 628px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    color: #707070;
    margin-top: 75px;
    margin-bottom: 85px;
}
#app > .front_txt > h1{
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
    background-color: #D8D8D8;
    line-height: 60px;
}
#app > .front_txt > .line{
    width: 100px;
    height: 2px;
    background-color: #D8D8D8;
    margin: 31px auto;
}
#app > .front_txt > h2{
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-shadow:0 0 2px #8d8d8d;
}
#app > iframe{
    width: 100%;
    height: 600px;   
}
#app > h1{
    margin: 98px auto 120px auto;
    width: 1050px;
    height: auto;
    overflow: hidden;
    font-size: 40px;
    color: #fff;
    background-color: #414042;
    text-align: center;
    line-height: 80px;
}
#app > article{
    width: 1575px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
#app > article > p{
    font-size: 40px;
    color:#27282A;
    font-weight: bold;
    text-shadow:0 1px 3px #8d8d8d;
    padding-bottom: 70px;
}
#app > ul.option{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding:0 120px;
    margin-top:240px ;
}
#app > ul.option > li{
    width: 345px;
    height: auto;
    overflow: hidden;
    margin-right: 90px;
    float: left;
}
#app > ul.option > li.last{
    margin-right: 0;
}
#app > ul.option > li > div{
    width: 100%;
    height:345px;
    border-radius: 50%;
    background-image: url("/圖片/logo.png");
} 
#app > ul.option > li > a{
    display: block;
    width: 60%;
    font-size: 40px;
    font-weight: bolder;
    line-height: 80px;
    color: #27282A;
    background-color: #fff;
    border:solid 2px #27282A;
    text-align: center;
    margin:70px auto 380px auto;
}
#app > footer{
    width: 100%;
    height: 200px;
    background-color: #FCCD4B;
}
#app > footer > hr{
    color: #7D8E9E;
    border-bottom: 3px solid #7D8E9E;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50px;
}
#app > a.button{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #F8D7AA;
    position: fixed;
    top:80%;
    left:92%;
}
